*/pool
*/conf
*/db
*/dists
*/public.key
*/i386
*/i586
*/i686
*/x86_64
*/amd64
*/SRPMS
sources/last
sources/rh-peerio-client*
sources/peerio-client*
sources/*patch
*/PKGBUILD
*/FrugalBuild
*/*ebuild
*/*spec
